html body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 19.2px;
	color: #373737;
}

.app {
	position: relative;
	height: 100vh;
	overflow: scroll;
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 999;
}

.counter-time .counter-time-item {
	width: 116px;
}

a:link, a:visited, .link {
	color: blue;
	text-decoration: none;
}

a:hover, .link:hover {
	color: #1d7be7;
	cursor: pointer;
}

select, input[type=submit], input[type=checkbox] {
	cursor: pointer;
}

input[type=submit] {
	cursor: pointer;
}

.notiIcon {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	background: white;
	padding: 7px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px #333;
	cursor: pointer;
}

.notiText {
	position: absolute;
	top: -3px;
	right: 0px;
	background: red;
	color: white;
	font-size: .75em;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
	padding: 4px 3px 2px;
}

.mesTime {
	cursor: pointer;
	font-size: 15px;
	margin: 0px 5px 3px 0px;
	padding: 0px 5px;
	border-radius: 5px;
	background-color: #e5e5e5;
	text-align: center;
	color: black;
}

.mesTime:hover {
	background-color: #cecece;
}

.hidden {
	display: none!important;
}

.mesContainer {
	position: fixed;
	bottom: 0px;
	right: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	width: 320px;
	height: 450px;
	max-height: 450px;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	background-color: #FDFDFD;
	box-shadow: 0px 0px 10px 0px #333;
	z-index: 1000;
	visibility: hidden;
}

.mesContainer.open {
	visibility: visible;
}

.mesContainerHead {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 15px;
	background-color: #212657;
}

.mesContainerTitle {
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	color: #FFF;
}

.closeButton {
	width: 24px;
	height: 20px;
	color: #e1e1e1;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	font-size: 50px;
	line-height: 12px;
}

.closeButton:hover {
	color: #ffffff;
	font-size: 60px;
	line-height: 11px;
}

.mesTask {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #FFF;
	box-shadow: 0px 1px 1px 0px #f1f1f1;
	z-index: 1001;
}

.mesTaskItem {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 10px;
	cursor: pointer;
}

.mesTaskItem::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: #212657;
	transition: all 0s;
}

.mesContainer.open .mesTaskItem::after {
	transition: all 0.2s;
}

.mesTaskItem.active::after {
	height: 3px;
}

.mesTaskItem img {
	width: auto;
	height: 15px;
}

.mesTaskItem.filter-blue img {
	filter: invert(1);
}

.messageList {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	position: relative;
	padding: 0px;
}

.messageListHead {
	width: 100%;
	height: 35px;
	text-align: center;
	background-color: #FDFDFD;
	color: #1d7be7;
	font-size: 13px;
	font-weight: 500;
	line-height: 35px;
	box-shadow: 0px 2px 3px 0px #d8d8d8;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.messageListHead .mes-admin-icon {
	background-color: #1d7be7;
	border-radius: 18px;
	width: 18px;
	height: 18px;
	display: flex;
	justify-self: center;
	align-items: center;
	margin-right: 5px;
}

.messageListHead img {
	margin: auto;
	width: 10px;
}

.inboxLine {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 0.5px solid #d8d8d8;
	padding: 5px 5px;
	background-color: #f5f5f5;
	cursor: pointer;
}

.inboxLine.inboxNew {
	background-color: #D9D9D9;
	border-bottom: 0.5px solid #D1D1D1;
}

.inboxAvatar {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #EEE;
}

.inboxContent {
	flex: 1;
	padding: 0px 10px;
}

.inboxUsername {
	color: #212657;
	font-size: 13px;
	font-weight: 500;
}

.inboxUsername .link {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	font-size: 12px;
}

.textover {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	height: 100%;
}

.inboxLastMessage {
	font-size: 11px;
	font-weight: 400;
}

.newMessageNoti {
	width: 20px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newMessageTick {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: #666;
}

.inboxNew .inboxUsername {
	font-weight: 600;
}

.inboxNew .inboxLastMessage {
	font-weight: 600;
}

.inboxNew .newMessageTick {
	background-color: #1d7be7;
}

.search-con {
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #f8f8f8;
	margin-bottom: 10px;
}

.search-con button {
	width: 35px;
	height: 35px;
	background-color: transparent;
	outline: none;
}

.search-con button:active {
	outline: none;
}

.search-con input {
	flex: 1;
	height: 35px;
	background-color: transparent;
	padding: 5px 10px 5px 0px;
}

.mesBox {
	padding: 10px 0px 0px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	position: relative;
}

.mesTitle {
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #FDFDFD;
	color: #1d7be7;
	font-size: 13px;
	font-weight: 600;
	line-height: 30px;
	border-bottom: 1px solid #DDD;
	padding: 0px 40px 0px 20px;
	box-shadow: 0px 2px 3px 0px #d8d8d8;
	z-index: 1000;
}

.mesTitle a {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	font-size: 13px;
	font-weight: 500;
	color: #1d7be7;
}

.mesConversation {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px 0px 10px 5px;
	flex-grow: 1;
	text-align: left;
}

.mesLine {
	display: flex;
	align-items: flex-start;
	margin: 0px 5px 10px;
	flex-wrap: nowrap;
}

.mesOther {
	margin: 0px 30px 0px 5px;
	text-align: left;
}

.mesAuthor {
	margin-left: 35px;
	text-align: right;
	width: 100%;
}

.mesAvatar {
	overflow: hidden;
	border-radius: 15px;
	width: 30px;
	height: 30px;
}

.mesAvatar a {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #EEE;
}

.mesAvatar:hover {
	border-radius: 2px;
}

.mesContentContainer {
	display: flex;
}

.mesContent {
	padding: 3px 10px;
	white-space: normal;
	font-size: 13px;
	border-radius: 10px;
	text-align: left;
}

.mesOther .mesContentContainer {
	justify-content: flex-start;
}

.mesAuthor .mesContentContainer {
	justify-content: flex-end;
	margin-right: 5px;
}

.mesOther .mesContent {
	background-color: #e1e1e1;
}

.mesAuthor .mesContent {
	background-color: #525fd0;
	color: #FFF;
}

.mesTimeContainer {
	margin-top: 5px;
	width: 100%;
	display: flex;
}

.mesOther .mesTimeContainer {
	justify-content: flex-start;
}

.mesAuthor .mesTimeContainer {
	justify-content: flex-end;
}

.mesTime {
	font-size: 10px;
}

.mesInput {
	padding: 4px 4px 4px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

.mesInput .form-group {
	display: flex;
	margin: 0px 0px 5px;
}

.mesBoxTextarea {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.mesBoxTextarea textarea {
	resize: none;
	padding: 6px 8px;
	width: 100%;
	height: 14px;
	min-height: 32px;
	max-height: 60px;
	border-radius: 3px;
	outline: none;
	margin-top: 0px;
	border: 1px solid #e9e9e9;
	color: #333333;
	font-size: 13px;
}

.mesBoxTextarea textarea:focus {
	outline: none;
}

.mesBoxTextarea textarea::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.mesBoxSubmit {
	display: flex;
	align-items: flex-end;
	margin: 2px;
}

.mesBoxSubmit input[type=submit] {
	padding: 6px 9px;
	border-radius: 4px;
	width: auto;
	font-size: 14px;
	border: 1px solid #bec0d4;
	background-color: #3642ad;
	color: #FFF;
}

.mesBoxSubmit input[type=submit]:hover {
	background-color: #1c235d;
}

.mesLoader {
	padding: 10px;
	font-size: 13px;
}

.store-body {
	height: 200px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.store-top>div>div>a {
	display: block;
	height: 84px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.entry-title>p {
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.contact-form .disabled-btn {
	cursor: not-allowed;
	background-color: #c57528;
}

.login-modal.register-vis .modal-content .tk, .login-modal.register-vis .modal-content .mk {
	display: flex;
	align-items: center;
}

.login-modal.register-vis .modal-content .mk {
	margin-top: 0;
	margin-bottom: .5rem;
}

.login-modal.register-vis .modal-content .tk span, .login-modal.register-vis .modal-content .mk span {
	width: 25%;
}

.login-modal.register-vis .modal-content .tk input, .login-modal.register-vis .modal-content .mk input {
	width: 75%;
}

.error-form {
	margin: 10px;
	color: red;
	font-style: italic;
}

.success-form {
	margin: 10px;
	color: green;
	font-style: italic;
}

.mes-admin-info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	background: #f7f7f7
}

.mes-admin-logo {
	display: flex;
	width: 60px;
	height: 60px;
	background: #f1f1f1;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
}

.mes-admin-avatar {
	width: auto;
	height: auto;
	max-width: 40px;
	max-height: 40px;
}

.mes-admin-default {
	width: auto;
	height: 40px;
}

.mes-admin-status {
	flex: 1;
	padding: 5px 10px;
}

.mes-admin-name {
	text-transform: uppercase;
	color: #212657;
	font-weight: 600;
	margin-bottom: 5px;
}

.mes-admin-onl {
	color: #7de747;
	font-weight: 500;
}

.mes-login-container {
	flex: 1;
	display: flex;
	justify-self: center;
	align-items: center;
}

.mes-login {
	text-align: center;
	padding: 10px;
}

.mes-log-des {
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	color: #888;
	margin-bottom: 15px;
}

.mes-log-button {
	background-color: #1d7be7;
	color: #FFF;
	font-weight: 500;
	padding: 7px 15px;
	border-radius: 7px;
	cursor: pointer;
	margin: 0px 10px 40px;
}

.container-DKGiaoThuong {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
	background: #00000099;
}

.container-DKGiaoThuong {
	/* max-width: 60rem; */
	margin: 0 auto;
}

.overlay {
	font-size: 50px;
	color: white;
	float: right;
	display: flex;
	justify-content: flex-end;
	padding-right: 32px;
	cursor: pointer;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #00000096;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.card {
	border-radius: 5px;
	max-width: 33rem;
	margin: 0 auto;
	margin-top: 0;
	min-height: 300px;
	max-height: 800px;
	background-color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 0 27px 24px 0 rgb(0 0 0 / 22%), 0 40px 77px 0 rgb(0 0 0 / 22%);
	transform: scale(0.85);
	overflow-y: auto;
	height: 90%;
	overflow: auto;
}

.form__name {
	font-family: system-ui;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 900;
	background-color: #003277;
	padding: 15px;
	color: #fff;
	font-size: 1.2rem;
	padding: 15px 50px;
}

.time__container, .message__container, .contact__container {
	padding: 5px 50px 15px;
}

.section .box {
	vertical-align: middle;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	font-size: 10px;
	font-weight: 900;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 50px;
	border: 1px solid #47536A;
	background-color: #47536A;
	text-align: center;
	color: #fff;
}

.section span {
	vertical-align: middle;
	margin-left: 10px;
}

.form__time, .form__contact {
	color: #47536A;
	font-size: 0.7rem;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	display: flex;
	/* flex-wrap: wrap; */
	width: 100%;
}

form.form__contact {
	display: flex;
	/* flex-wrap: nowrap; */
	justify-content: space-between;
}

.contact__container form.form__contact {
	/* flex-wrap: nowrap; */
}

.form__time .date, .form__time .time, .form__time .timezone, .form__time .cname, .form__time .cnum, .form__time .email, .form__contact .date, .form__contact .time, .form__contact .timezone, .form__contact .cname, .form__contact .cnum, .form__contact .email {
	display: inline-block;
	width: 100%;
}

form.form__contact .cname {
	width: 48%;
}

.form__time .date label, .form__time .date input, .form__time .time label, .form__time .time input, .form__time .timezone label, .form__time .timezone input, .form__time .cname label, .form__time .cname input, .form__time .cnum label, .form__time .cnum input, .form__time .email label, .form__time .email input, .form__contact .date label, .form__contact .date input, .form__contact .time label, .form__contact .time input, .form__contact .timezone label, .form__contact .timezone input, .form__contact .cname label, .form__contact .cname input, .form__contact .cnum label, .form__contact .cnum input, .form__contact .email label, .form__contact .email input {
	display: block;
	width: 200px;
}

.form__time .date label, .form__time .time label, .form__time .timezone label, .form__time .cname label, .form__time .cnum label, .form__time .email label, .form__contact .date label, .form__contact .time label, .form__contact .timezone label, .form__contact .cname label, .form__contact .cnum label, .form__contact .email label {
	margin-bottom: 10px;
}

.container-DKGiaoThuong input {
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	background: transparent;
	border: 1px solid #A4A9C5;
	border-radius: 3px;
	outline: none;
	padding: 10px;
	transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	color: #003277;
}

.form__time .date, .form__time .time, .form__time .timezone, .form__time .cname, .form__time .cnum, .form__time .email, .form__contact .date, .form__contact .time, .form__contact .timezone, .form__contact .cname, .form__contact .cnum, .form__contact .email {
	display: inline-block;
	width: 100%;
}

.form__time .time, .form__time .cnum, .form__contact .time, .form__contact .cnum {
	margin-left: 0px;
}

form.form__contact .cnum {
	width: 48%;
}

.form__time, .form__contact {
	color: #47536A;
	font-size: 0.7rem;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	display: flex;
	/* flex-wrap: wrap; */
	width: 100%;
}

div#reservationdate {
	width: 100%;
}

textarea {
	box-sizing: border-box;
	font-weight: normal;
	padding: 5px;
	margin-top: 20px;
	border: 1px solid #A4A9C5;
	border-radius: 3px;
	outline: none;
	transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	color: #15A4FA;
	width: calc(100% - 3px);
}

form.form__contact {
	display: flex;
	/* flex-wrap: nowrap; */
	justify-content: space-between;
}

.form__time .timezone, .form__time .email, .form__contact .timezone, .form__contact .email {
	margin-top: 10px;
	display: block;
}

.form__time .timezone input, .form__time .email input, .form__contact .timezone input, .form__contact .email input {
	width: calc(100% - 3px);
}

.form__confirmation {
	padding: 10px 50px;
}

.container-DKGiaoThuong button {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: #003277;
	border: 1px solid #DADDE8;
	color: #fff;
	padding: 15px;
	border-radius: 10px;
	border-radius: 5px!important;
	outline: none;
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	margin-bottom: 20px;
}

.card::-webkit-scrollbar {
	border-radius: 4px;
	width: 4px;
	background: hsla(0, 0%, 48.6%, .36)
}

.card::-webkit-scrollbar-track {
	border-radius: 4px
}

.card::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(0, 0, 0, .22)
}

.card::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .38)
}

.profile-page {
	padding: 30px 0px 50px;
	font-family: "Roboto", Arial, sans-serif!important;
	font-size: 0.875rem;
}

.profile-info-container {
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .125);
	border-top: 3px solid #E26608;
	width: 100%;
	text-align: center;
	padding: 20px;
	margin-bottom: 10px;
	background-color: #FFF;
}

.profile-avatar {
	border: 1px solid #adb5bd;
	margin: 0px auto 5px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-avatar, .user-no-avatar {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}

.profile-name {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	width: 100%;
	overflow: hidden;
}

.profile-list-select {
	background: white;
	width: 100%;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 7px;
}

.profile-select-item {
	padding: 12px 5px 12px 6px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .5px;
	font-size: 14px;
	border-left: 3px solid transparent;
	cursor: pointer;
}

.profile-select-item.active, .profile-select-item:hover {
	color: #fff;
	background: #1e282c;
	border-left-color: #9358df;
}

.profile-content {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .125);
	background-color: #FFF;
	padding: 20px;
}

.profile-content input, .profile-content button {
	font-size: 14px;
}

.user-avatar-preview {
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #D9D9D9;
}

.user-avatar-preview img {
	width: auto;
	height: auto;
	min-width: 250px;
	max-width: 250px;
}

.user-image-preview {
	width: 750px;
	height: 250px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #D9D9D9;
}

.user-image-preview img {
	width: auto;
	height: auto;
	min-width: 250px;
	max-width: 100%;
}

.profile-page .custom-file-label {
	position: relative;
	width: 100%;
	cursor: pointer;
}

.success {
	margin: 10px 0px;
	color: #01b401;
	font-size: 15px;
}

.fieldError {
	margin: 10px 0px;
	color: #F00;
}

.profile-trade {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.profile-trade-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	color: #E26608;
	text-transform: uppercase;
}

.profile-trade-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

.profile-trade .table td, .profile-trade .table th {
	vertical-align: middle;
}

.profile-trade-body td a {
	color: #00F;
	text-decoration: underline;
}

.trade-action {
	text-align: center;
}

.btnActionEdit {
	text-align: center;
	color: red;
	cursor: pointer;
}

.industry-select {
	position: relative;
	width: 100%;
}

.industry-placeholder {
	position: relative;
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
	padding-right: 20px;
}

.industry-placeholder:not(.disabled)::after {
	content: "";
	background-image: url(/images/icon-down2.png);
	background-repeat: no-repeat;
	background-size: 90% 50%;
	background-position: center;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -7px;
}

.industry-placeholder.disabled {
	background-color: #e9ecef;
	cursor: default;
}

.dropdown-select {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 1051;
	border: 1px solid #d2d6de;
}

.dropdown-select.active {
	display: block;
}

.industry-option {
	padding: 6px 12px;
	background-color: #fff;
	color: #444;
	cursor: pointer;
}

.industry-option.active {
	background-color: #ddd;
}

.industry-option:hover {
	background-color: #3c8dbc;
	color: #fff;
}

.logo {
	height: 60px;
}

.logo img {
	width: 222px;
}

#slider .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#slider .slide-text {
	margin-left: -10%;
	position: relative;
	top: unset;
	right: unset;
}

.load-more a:hover {
	background-color: #212657;
	color: #FFF;
}

.exhibiton-avatar {
	width: 196px;
	height: 94px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.livestream-item h6 {
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden
}

@media only screen and (max-width: 992px) {
	.navbar {
		z-index: 1000;
		position: fixed!important;
	}
}

.user-page .navbar-toggler {
	padding: 2px;
	outline: none;
}

div.dangerously p {
	margin-bottom: 0;
}

.contact-exhibitor .address {
	margin-bottom: 15px;
}

.contact-info .web-address a {
	color: #3c8dbc;
}

.banner-container {
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left center;
	background-position-x: left;
	background-position-y: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#slider .slide-text {
	margin-left: 40%;
}

@media only screen and (max-width: 992px) {
	.banner-container {
		background-size: 50% auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.banner-container .slide-text .txt-white {
		padding: 5px 30px;
		margin-left: -30px;
	}
	#slider .banner-container .slide-text {
		width: 60%;
		margin-left: 40%;
	}
}

@media (min-width: 500px) and (max-width: 735px) {
	.banner-container {
		background-size: 40% auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#slider .banner-container .slide-text {
		top: unset;
		right: unset;
	}
	#slider .banner-container .slide-text {
		margin-left: 35%;
	}
	.banner-container .slide-text .txt-white {
		padding: 5px 20px;
		margin-left: -20px;
	}
}

.time-location {
	display: flex;
	justify-content: center;
	align-items: center;
}

.verify-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.verify-result {
	text-align: center;
}

.verify-noti, .verify-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.verify-icon {
	width: 40px;
	height: 40px;
	min-width: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 15px;
}

.verify-icon.verify {
	background-image: url(images/success.jpg);
}

.verify-icon.failed {
	background-image: url(images/failed.png);
}

.verify-message {
	font-size: 20px;
	line-height: 30px;
}

.verify-back {
	color: #1d7be7;
	font-size: 15px;
}

.loading {
	background-image: url(images/gears.gif);
}

.lang {
	display: inline;
	position: relative;
	cursor: pointer;
}

ul.lang-select {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: max-content;
	background-color: #FFF;
	z-index: 1;
	margin-top: 10px;
	box-shadow: 0px 4px 5px #c0c0c0;
}

ul.lang-select.active {
	display: block;
}

ul.lang-select>li {
	width: 100%;
	padding: 3px 16.4px;
}

ul.lang-select>li.active {
	background-color: #e9e9e9;
}

ul.lang-select>li img {
	width: 32px;
	height: 17px;
	margin-right: 0px!important;
}

.log-submit {
	background: #FFCC00;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 25px;
	height: 46px;
	line-height: 46px;
	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;
	outline: none!important;
}

.contact-submit {
	background: #E48020;
	border: none;
	border-radius: 5px;
	width: 118px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 24px;
	outline: none!important;
}

.contact-submit.disabled-btn {
	cursor: not-allowed;
	background-color: #c57528;
}