html {
    scroll-behavior: smooth;
}

html body {
    top: 0px!important;
    margin: 0px;
}

.skiptranslate.goog-te-gadget {
    display: none!important;
}

.skiptranslate {
    display: none!important;
}