body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19.2px;
  color: #373737;
}

.counter-time .counter-time-item {
  width: 116px;
}